# Observations from Byron and Quad 2016 RETDAS
### Files Reviewed  
  - RACER_Byr_2016year_04252017a.csv
  - RACER_Quad_2016year_04252017a.csv  
### Issues
[Issue 1: Byron Unit 1 - Multiple Values for Single Nuclides](#Find-all-Byron's-"2s"-and-print-'em)  
[Issue 2: Byron Unit 1 - Suspicious Xe-133 Values](#Suspicious-Xe-133-Values-at-Byron-Unit-1)

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

## DataFrame 'db' will be Byron
## DataFrame 'dq' will be Quad
(as in Dataframe Byron or Dataframe Quad)

In [2]:
db = pd.read_csv('RACER_Byr_2016year_04252017a.csv', parse_dates=['STARTDATE','ENDDATE'])
dq = pd.read_csv('RACER_Quad_2016year_04252017a.csv', parse_dates=['STARTDATE','ENDDATE'])

### Column Named: Max0Avg1Sum2 Should be MAS
but we can change that any time before we submit the data...

In [3]:
print('\tByron '+'\t\t Quad ')
print('len: \t'+str(len(db))+'\t\t\t'+str(len(dq)))
print('First:\t'+str(db.STARTDATE.min())+'\t'+str(dq.STARTDATE.min()))
print('Last:\t'+str(db.ENDDATE.max())+'\t'+str(dq.ENDDATE.max()))
print('Unique: \t'+str(len(db.PT_NUMBER.unique()))+'\t\t '+str(len(dq.PT_NUMBER.unique())))

	Byron 		 Quad
len: 	1058			1107
First:	2016-01-01 00:00:00	2016-01-01 00:00:00
Last:	2017-01-01 00:00:00	2017-01-01 00:00:00
Unique: 	488		 221

### Use permit number, unit, and nuclide as a unique key to see if there are multiple entries:

In [4]:
for df in [db,dq]:
    print(df.loc[0,'PLANT']+':',df.groupby(by=['PT_NUMBER','SRC_UNIT','NUCLIDE']).PLANT.count().max())
print("\nQuad Cities doesn't have multiple values for a permit-unit-nuclide combination.")
print("Byron does have multiple values. Let's see what they look like.")

Byron: 2
Quad Cities: 1

Quad Cities doesn't have multiple values for a permit-unit-nuclide combination.
Byron does have multiple values. Let's see what they look like.

### Find all Byron's "2s" and print 'em

In [5]:
pd.options.display.max_rows = 999
db[db.groupby(by=['PT_NUMBER','SRC_UNIT','NUCLIDE']).PLANT.transform('count') > 1].dropna(axis=1).\
set_index(keys=['PT_NUMBER','SRC_UNIT','NUCLIDE','PLANT'])[['ACTIVITY','STARTDATE','ENDDATE']]

                                      ACTIVITY           STARTDATE  \
PT_NUMBER SRC_UNIT NUCLIDE PLANT
2016001   Unit 1   H-3     Byron  4.060000e-07 2016-01-05 03:58:00
                           Byron  2.470000e-01 2016-01-08 14:01:00
2016002   Unit 1   H-3     Byron  4.060000e-07 2016-01-06 16:56:00
                           Byron  3.420000e-01 2016-01-20 16:40:00
2016003   Unit 1   H-3     Byron  3.410000e-07 2016-01-01 01:42:00
                           Byron  3.110000e-01 2016-01-26 10:47:00
2016004   Unit 1   H-3     Byron  3.260000e-07 2016-01-02 15:07:00
                           Byron  4.230000e-01 2016-02-02 14:22:00
2016006   Unit 1   H-3     Byron  1.280000e-09 2016-01-01 00:00:00
                           Byron  4.230000e-01 2016-02-05 03:28:00
2016010   Unit 1   H-3     Byron  4.150000e-07 2016-01-08 02:17:00
                           Byron  2.230000e-01 2016-02-24 04:24:00
2016011   Unit 1   H-3     Byron  4.150000e-07 2016-01-09 15:07:00
                           Byron  4.030000e-01 2016-02-27 10:49:00
2016014   Unit 1   H-3     Byron  3.550000e-07 2016-01-11 13:02:00
                           Byron  3.820000e-01 2016-03-11 02:20:00
2016016   Unit 1   H-3     Byron  3.810000e-07 2016-01-13 20:34:00
                           Byron  3.050000e-01 2016-03-22 02:26:00
2016017   Unit 1   H-3     Byron  8.130000e-10 2016-01-04 00:30:00
                           Byron  3.880000e-01 2016-03-22 17:19:00
2016019   Unit 1   H-3     Byron  3.700000e-07 2016-01-15 02:23:00
                           Byron  3.220000e-01 2016-03-29 14:15:00
2016020   Unit 1   H-3     Byron  4.450000e-07 2016-01-18 13:53:00
                           Byron  3.300000e-01 2016-03-31 04:21:00
2016021   Unit 1   H-3     Byron  4.450000e-07 2016-01-20 15:40:00
                           Byron  3.970000e-01 2016-04-06 01:48:00
2016023   Unit 1   H-3     Byron  0.000000e+00 2016-01-15 23:04:00
                           Byron  1.410000e-01 2016-04-13 16:56:00
2016025   Unit 1   H-3     Byron  4.380000e-07 2016-01-22 22:12:00
                           Byron  1.950000e-01 2016-04-21 23:39:00
2016027   Unit 1   H-3     Byron  4.620000e-07 2016-01-24 17:46:00
                           Byron  1.600000e-01 2016-04-23 23:19:00
2016028   Unit 1   H-3     Byron  4.620000e-07 2016-01-27 05:53:00
                           Byron  1.560000e-01 2016-04-25 14:30:00
2016031   Unit 1   H-3     Byron  1.030000e-08 2016-01-11 00:38:00
                           Byron  5.500000e-02 2016-05-01 13:15:00
2016033   Unit 1   H-3     Byron  6.380000e-09 2016-01-18 00:55:00
                           Byron  2.270000e-02 2016-05-03 02:16:00
2016035   Unit 1   H-3     Byron  4.240000e-07 2016-01-28 04:26:00
                           Byron  1.270000e-05 2016-04-01 00:00:00
2016036   Unit 1   H-3     Byron  4.130000e-07 2016-01-30 04:26:00
                           Byron  1.490000e-02 2016-05-06 13:19:00
2016037   Unit 1   H-3     Byron  4.210000e-07 2016-02-01 22:53:00
                           Byron  6.110000e-02 2016-05-08 03:11:00
2016039   Unit 1   H-3     Byron  4.410000e-09 2016-01-25 00:55:00
                           Byron  8.450000e-02 2016-05-09 20:49:00
2016041   Unit 1   H-3     Byron  4.690000e-07 2016-02-02 17:14:00
                           Byron  2.830000e-02 2016-05-11 20:13:00
2016043   Unit 1   H-3     Byron  3.850000e-07 2016-02-05 12:02:00
                           Byron  1.320000e-01 2016-05-16 11:17:00
2016045   Unit 1   H-3     Byron  4.840000e-07 2016-02-06 22:48:00
                           Byron  1.370000e-01 2016-05-18 01:16:00
2016047   Unit 1   H-3     Byron  4.840000e-07 2016-02-08 03:30:00
                           Byron  1.040000e-01 2016-05-20 12:15:00
2016049   Unit 1   H-3     Byron  4.990000e-07 2016-02-11 02:04:00
                           Byron  5.970000e-02 2016-06-02 16:07:00
2016051   Unit 1   H-3     Byron  3.080000e-09 2016-02-01 00:54:00
                           Byron  4.300000e-02 2016-06-08 22:17:00
2016055   Unit 1   H-3     Byron  4.590000e-07 2016-02-13 20:24:00
                           Byron  6.640000e-02 2016-07-02 00:07:00
2016060   Unit 1   H-3     Byron  2.430000e-08 2016-02-08 00:40:00
                           Byron  7.740000e-02 2016-07-16 03:35:00
2016062   Unit 1   H-3     Byron  4.190000e-07 2016-02-22 16:42:00
                           Byron  1.030000e-01 2016-07-27 02:35:00
2016063   Unit 1   H-3     Byron  4.190000e-07 2016-02-24 08:28:00
                           Byron  8.700000e-02 2016-07-28 22:18:00
2016064   Unit 1   H-3     Byron  4.190000e-07 2016-02-20 05:07:00
                           Byron  5.420000e-07 2016-07-01 00:00:00
2016068   Unit 1   H-3     Byron  0.000000e+00 2016-02-23 23:10:00
                           Byron  1.620000e-01 2016-08-20 20:04:00
2016069   Unit 1   H-3     Byron  1.990000e-09 2016-02-15 00:48:00
                           Byron  1.670000e-01 2016-08-23 22:25:00
2016072   Unit 1   H-3     Byron  5.750000e-07 2016-02-27 23:56:00
                           Byron  3.360000e-06 2016-08-01 00:00:00
2016074   Unit 1   H-3     Byron  4.560000e-07 2016-03-01 15:28:00
                           Byron  2.120000e-01 2016-09-19 03:37:00
2016076   Unit 1   H-3     Byron  4.560000e-07 2016-02-26 23:04:00
                           Byron  3.450000e-01 2016-09-23 09:48:00
2016077   Unit 1   H-3     Byron  3.630000e-09 2016-02-22 00:52:00
                           Byron  3.080000e-01 2016-09-29 21:56:00
2016079   Unit 1   H-3     Byron  5.610000e-07 2016-03-03 08:36:00
                           Byron  6.170000e-01 2016-10-07 19:55:00
2016080   Unit 1   H-3     Byron  5.140000e-07 2016-03-06 21:30:00
                           Byron  2.210000e-06 2016-09-01 00:00:00
2016082   Unit 1   H-3     Byron  5.190000e-07 2016-03-05 05:18:00
                           Byron  8.030000e-01 2016-10-13 15:41:00
2016085   Unit 1   H-3     Byron  6.080000e-07 2016-03-11 22:35:00
                           Byron  8.920000e-01 2016-10-21 23:51:00
2016086   Unit 1   H-3     Byron  6.080000e-07 2016-03-13 10:10:00
                           Byron  7.850000e-01 2016-11-03 04:10:00
2016088   Unit 1   H-3     Byron  3.830000e-09 2016-02-29 01:02:00
                           Byron  6.610000e-01 2016-11-09 23:30:00
2016090   Unit 1   H-3     Byron  6.740000e-07 2016-03-09 00:11:00
                           Byron  4.740000e-01 2016-11-19 10:11:00
2016091   Unit 1   H-3     Byron  4.800000e-07 2016-03-15 00:09:00
                           Byron  5.750000e-01 2016-11-23 23:11:00
2016092   Unit 1   H-3     Byron  4.800000e-07 2016-03-16 05:01:00
                           Byron  4.970000e-01 2016-11-30 04:05:00
2016096   Unit 1   H-3     Byron  6.350000e-09 2016-03-07 00:48:00
                           Byron  4.550000e-01 2016-12-17 01:09:00
2017001   Unit 1   H-3     Byron  4.510000e-07 2016-12-16 00:14:00
                           Byron  1.850000e-05 2016-12-01 00:00:00

                                             ENDDATE
PT_NUMBER SRC_UNIT NUCLIDE PLANT
2016001   Unit 1   H-3     Byron 2016-01-05 04:51:00
                           Byron 2016-01-08 16:11:00
2016002   Unit 1   H-3     Byron 2016-01-06 18:06:00
                           Byron 2016-01-20 20:06:00
2016003   Unit 1   H-3     Byron 2016-01-01 02:43:00
                           Byron 2016-01-26 13:36:00
2016004   Unit 1   H-3     Byron 2016-01-02 16:07:00
                           Byron 2016-02-02 18:10:00
2016006   Unit 1   H-3     Byron 2016-01-04 00:30:00
                           Byron 2016-02-05 07:05:00
2016010   Unit 1   H-3     Byron 2016-01-08 03:02:00
                           Byron 2016-02-24 06:24:00
2016011   Unit 1   H-3     Byron 2016-01-09 15:53:00
                           Byron 2016-02-27 13:33:00
2016014   Unit 1   H-3     Byron 2016-01-11 14:13:00
                           Byron 2016-03-11 05:51:00
2016016   Unit 1   H-3     Byron 2016-01-13 21:50:00
                           Byron 2016-03-22 05:36:00
2016017   Unit 1   H-3     Byron 2016-01-11 00:38:00
                           Byron 2016-03-22 20:44:00
2016019   Unit 1   H-3     Byron 2016-01-15 03:10:00
                           Byron 2016-03-29 17:19:00
2016020   Unit 1   H-3     Byron 2016-01-18 15:03:00
                           Byron 2016-03-31 07:42:00
2016021   Unit 1   H-3     Byron 2016-01-20 16:46:00
                           Byron 2016-04-06 05:03:00
2016023   Unit 1   H-3     Byron 2016-01-16 01:56:00
                           Byron 2016-04-13 18:16:00
2016025   Unit 1   H-3     Byron 2016-01-22 23:27:00
                           Byron 2016-04-22 01:33:00
2016027   Unit 1   H-3     Byron 2016-01-24 18:55:00
                           Byron 2016-04-24 00:43:00
2016028   Unit 1   H-3     Byron 2016-01-27 06:46:00
                           Byron 2016-04-25 15:50:00
2016031   Unit 1   H-3     Byron 2016-01-18 00:55:00
                           Byron 2016-05-01 14:11:00
2016033   Unit 1   H-3     Byron 2016-01-25 00:55:00
                           Byron 2016-05-03 03:14:00
2016035   Unit 1   H-3     Byron 2016-01-28 05:32:00
                           Byron 2016-05-01 00:00:00
2016036   Unit 1   H-3     Byron 2016-01-30 05:29:00
                           Byron 2016-05-06 14:14:00
2016037   Unit 1   H-3     Byron 2016-02-01 23:45:00
                           Byron 2016-05-08 04:08:00
2016039   Unit 1   H-3     Byron 2016-02-01 00:54:00
                           Byron 2016-05-09 21:39:00
2016041   Unit 1   H-3     Byron 2016-02-02 18:08:00
                           Byron 2016-05-11 21:07:00
2016043   Unit 1   H-3     Byron 2016-02-05 12:53:00
                           Byron 2016-05-16 12:34:00
2016045   Unit 1   H-3     Byron 2016-02-06 23:46:00
                           Byron 2016-05-18 02:22:00
2016047   Unit 1   H-3     Byron 2016-02-08 04:28:00
                           Byron 2016-05-20 13:16:00
2016049   Unit 1   H-3     Byron 2016-02-11 03:00:00
                           Byron 2016-06-02 17:06:00
2016051   Unit 1   H-3     Byron 2016-02-08 00:40:00
                           Byron 2016-06-08 23:09:00
2016055   Unit 1   H-3     Byron 2016-02-13 21:40:00
                           Byron 2016-07-02 03:20:00
2016060   Unit 1   H-3     Byron 2016-02-15 00:48:00
                           Byron 2016-07-16 04:35:00
2016062   Unit 1   H-3     Byron 2016-02-22 17:48:00
                           Byron 2016-07-27 03:35:00
2016063   Unit 1   H-3     Byron 2016-02-24 09:36:00
                           Byron 2016-07-28 23:17:00
2016064   Unit 1   H-3     Byron 2016-02-20 05:53:00
                           Byron 2016-08-01 00:00:00
2016068   Unit 1   H-3     Byron 2016-02-24 02:00:00
                           Byron 2016-08-20 21:42:00
2016069   Unit 1   H-3     Byron 2016-02-22 00:52:00
                           Byron 2016-08-23 23:57:00
2016072   Unit 1   H-3     Byron 2016-02-28 01:08:00
                           Byron 2016-09-01 00:00:00
2016074   Unit 1   H-3     Byron 2016-03-01 16:15:00
                           Byron 2016-09-19 06:38:00
2016076   Unit 1   H-3     Byron 2016-02-27 00:10:00
                           Byron 2016-09-23 12:54:00
2016077   Unit 1   H-3     Byron 2016-02-29 01:02:00
                           Byron 2016-09-30 01:10:00
2016079   Unit 1   H-3     Byron 2016-03-03 09:21:00
                           Byron 2016-10-08 01:09:00
2016080   Unit 1   H-3     Byron 2016-03-06 22:38:00
                           Byron 2016-10-01 00:00:00
2016082   Unit 1   H-3     Byron 2016-03-05 06:19:00
                           Byron 2016-10-13 22:35:00
2016085   Unit 1   H-3     Byron 2016-03-11 23:51:00
                           Byron 2016-10-22 06:59:00
2016086   Unit 1   H-3     Byron 2016-03-13 11:13:00
                           Byron 2016-11-03 10:29:00
2016088   Unit 1   H-3     Byron 2016-03-07 00:48:00
                           Byron 2016-11-10 05:23:00
2016090   Unit 1   H-3     Byron 2016-03-09 01:21:00
                           Byron 2016-11-19 13:58:00
2016091   Unit 1   H-3     Byron 2016-03-15 01:05:00
                           Byron 2016-11-24 03:53:00
2016092   Unit 1   H-3     Byron 2016-03-16 06:03:00
                           Byron 2016-11-30 08:17:00
2016096   Unit 1   H-3     Byron 2016-03-14 02:40:00
                           Byron 2016-12-17 05:16:00
2017001   Unit 1   H-3     Byron 2016-12-16 01:10:00
                           Byron 2017-01-01 00:00:00

In [6]:
# for df in [db,dq]:
#     for unit in ['Unit 1','Unit 2']:
#         query_unit = df['SRC_UNIT'] == unit
#         for nuclide in df[query_unit].NUCLIDE.unique():
#             query_nuc = df['NUCLIDE'] == nuclide
#             if len(df.loc[query_nuc & query_unit]) != 0:
#                 df.loc[query_nuc & query_unit,['PLANT','SRC_UNIT','STARTDATE','ACTIVITY']].\
#                 plot(figsize=(13,5), title=df.loc[0,'PLANT']+' '+unit+' '+nuclide, x='STARTDATE', y='ACTIVITY')

### Suspicious Xe-133 Values at Byron Unit 1

In [7]:
vara = db['NUCLIDE'] == 'XE-133'
varb = db['SRC_UNIT'] == 'Unit 1'
varc = db['ACTIVITY'] > 200

db[vara & varb & varc]

,PT_NUMBER,PLANT,SRC_UNIT,NUCLIDE,ACTIVITY,ACT_UNITS,Max0Avg1Sum2,NUCTYPEIMPTYPE,SOURCE,STARTDATE,...,FLOW_RATE,FLOW_UNITS,REL_VOL,REL_UNITS,RELEASE_SOURCE,DISCHARGE_POINT,REL_MODE_OR_DIL,IS_MDA,BATCHORCONT,ALLOCATION_PERCENT
265,2016053,Byron,Unit 1,XE-133,15600.0,uCi/cc,NaN,NaN,NaN,2016-01-23 09:44:00,...,0.000005,cfm,0.000035,cf,Unit 1 Stack,Unit 1 Stack,ground,NaN,C,100
392,2016083,Byron,Unit 1,XE-133,16800.0,uCi/cc,NaN,NaN,NaN,2016-02-20 09:23:00,...,0.000004,cfm,0.000035,cf,Unit 1 Stack,Unit 1 Stack,ground,NaN,C,100
523,2016130,Byron,Unit 1,XE-133,53600.0,uCi/cc,NaN,NaN,NaN,2016-03-24 08:41:00,...,0.000003,cfm,0.000035,cf,Unit 1 Stack,Unit 1 Stack,ground,NaN,C,100
525,2016132,Byron,Unit 1,XE-133,5670.0,uCi/cc,NaN,NaN,NaN,2016-03-28 08:28:00,...,0.000006,cfm,0.000035,cf,Unit 1 Stack,Unit 1 Stack,ground,NaN,C,100
641,2016225,Byron,Unit 1,XE-133,11200.0,uCi/cc,NaN,NaN,NaN,2016-05-03 12:14:00,...,0.000004,cfm,0.000035,cf,Unit 1 Stack,Unit 1 Stack,ground,NaN,C,100
706,2016283,Byron,Unit 1,XE-133,33800.0,uCi/cc,NaN,NaN,NaN,2016-06-06 20:38:00,...,0.000003,cfm,0.000035,cf,Unit 1 Stack,Unit 1 Stack,ground,NaN,C,100
708,2016285,Byron,Unit 1,XE-133,16800.0,uCi/cc,NaN,NaN,NaN,2016-06-08 23:59:00,...,0.000004,cfm,0.000035,cf,Unit 1 Stack,Unit 1 Stack,ground,NaN,C,100
820,2016355,Byron,Unit 1,XE-133,8370.0,uCi/cc,NaN,NaN,NaN,2016-08-18 20:26:00,...,0.000004,cfm,0.000035,cf,Unit 1 Stack,Unit 1 Stack,ground,NaN,C,100
886,2016396,Byron,Unit 1,XE-133,27500.0,uCi/cc,NaN,NaN,NaN,2016-09-29 11:22:00,...,0.000004,cfm,0.000035,cf,Unit 1 Stack,Unit 1 Stack,ground,NaN,C,100
948,2016438,Byron,Unit 1,XE-133,159000.0,uCi/cc,NaN,NaN,NaN,2016-10-05 09:34:00,...,0.000002,cfm,0.000035,cf,Unit 1 Stack,Unit 1 Stack,ground,NaN,C,100
1011,2016487,Byron,Unit 1,XE-133,125000.0,uCi/cc,NaN,NaN,NaN,2016-11-02 20:00:00,...,0.000004,cfm,0.000035,cf,Unit 1 Stack,Unit 1 Stack,ground,NaN,C,100
1013,2016489,Byron,Unit 1,XE-133,183000.0,uCi/cc,NaN,NaN,NaN,2016-11-18 01:33:00,...,0.000002,cfm,0.000035,cf,Unit 1 Stack,Unit 1 Stack,ground,NaN,C,100